a { 
    text-decoration: none;
    color: black;
}

a:hover h1 {
    color: #00aaa9;
    text-decoration: underline;
}

.championship-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

.article-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    min-width: 60vh;
    margin: 10px auto;
    transition: al 0.3 ease-in-out;
}

.star-icon {
    position: relative;
    justify-content: flex-start;
    height: 35px;
    width: 35px;
    color: #000;
    font-size: 1.2em;
    line-height: 57px;
    margin-bottom: 17px;
}

@media (max-width: 1024px) {
    .article-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 80%;
        min-width: auto;
    }

    .championship-container {
        padding: 30px 20px;
    }
}

@media (max-width: 768px) {
    .article-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 90%;
        padding: 10px;
    }

    .star-icon {
        height: 35px;
        width: 35px;
        font-size: 1em;
    }

    .championship-container {
        padding: 20px 10px;
    }
}

