.select-menus-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin: 40px 30px;
}

.select-menu, .select-menuMW {
    position: relative;
    width: 200px;
    margin: 0;
}

.select-menu .select-button, .select-menuMW .select-buttonMW {
    display: flex;
    height: 40px;
    background-color: #fff;
    padding: 10px;
    font-size: 14px;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

.select-menu .options {
    position: absolute;
    padding: 10px;
    border-radius: 8px;
    margin-top: 5px;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    display: none;
    width: 100%;
}

.select-menuMW .optionsMW {
    position: absolute;
    padding: 10px;
    border-radius: 8px;
    margin-top: 5px;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    display: none;
    width: 100%;
    max-height: 300px; /* Altura máxima del desplegable de jornadas */
    overflow-y: auto; /* Así le meto scroll vertical */
}

.select-menu.active .options, .select-menuMW.active .optionsMW {
    display: block;
}

.options .option, .optionsMW .optionMW {
    display: flex;
    height: 25px;
    cursor: pointer;
    align-items: center;
    padding: 0 12px;
    border-radius: 8px;
    background-color: #FFF;
    font-size: 13px;
}

.options .option:hover, .optionsMW .optionMW:hover {
    background: #00c9c8;
    color: #fff;
}
