.favs-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    min-height: 73vh;
    margin: 50px 300px 20px 300px;
}

.favs-data ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
}

.favourite-teams, .favourite-players, .favourite-championships {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    border-radius: 10px;
    min-width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    min-height: 100px;
    align-items: center;
}

.favourite-teams h2, .favourite-players h2, .favourite-championships h2 {
    text-align: center;
}

.trash-icon {
    position: relative;
    color: #000;
    font-size: 25px;
    line-height: 57px;
    margin-left: 15px;
    top: 5px;
    cursor: pointer;
}

.trash-icon:hover {
    color: red;
}

.article-team, .article-player, .article-championship {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    padding: 15px;
    width: 100%;
    max-width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.team-image, .championship-image {
    width: 55px;
    height: 50px;
    margin-right: 15px;
    object-fit: contain;
}

.player-image {
    border-radius: 50%;
    width: 55px;
    height: 50px;
    margin-right: 15px;
}

.team-name, .player-name, .championship-name {
    font-family: 'Montserrat', sans-serif;
    padding-left: 20px;
    font-size: 12.5px;
    color: #000;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.championship-name:hover, .team-name:hover, .player-name:hover {
    text-decoration: underline;
    color: #000;
}
