.header-team {
    display: flex;
    flex-direction: column;
    min-height: 10vh;
    justify-content: center;
    align-items: center;
}

.header-team2 {
    display: flex;
    flex-direction: row;
}

.image-team {
    height: 100px;
    width: 100px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.reports-container h1 {
    text-align: center;
    margin-top: 20px;
}

.reports-container {
    width: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.report {
    width: auto;
    height: 95vh;
}

.star-icon {
    margin-left: 5px;
    margin-top: 5px;
}

.star-icon ion-icon {
    height: 20px;
    width: 20px;
    justify-content: center;
    align-items: center;
}