@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.players-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    gap: 100px;
    margin-top: 60px;
}

.logo-container img {
    width: 65px;
    height: 70px;
    margin-left: 130px;
}

.premier-players {
    background: linear-gradient(to right, #ffff, #360c3a); 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 10px;
    width: 20%;
    box-sizing: border-box;
    border-radius: 8px;
}

.premier-players article, .laliga-players article, .bundesliga-players article, .serieA-players article, .ligue1-players article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
    text-align: left;
    color: white;
    height: 100%;
    width: 100%;
}
 
.premier-players img, .laliga-players img, .bundesliga-players img, .serieA-players img, .ligue1-players img {
    width: 50px;
    margin-right: 5px;
}

.premier-players h2, .laliga-players h2, .bundesliga-players h2, .serieA-players h2, .ligue1-players h2 {
    font-size: 16px;
    margin: 5px 0;
    width: 100%;
    text-align: left;
}

.laliga-players {
    background: linear-gradient(to right, #fff, #e63946); 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
}

.bundesliga-players {
    background: linear-gradient(to right, #ffff, #BD001C); 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
}

.serieA-players {
    background: linear-gradient(to right, #ffff, #6051D5); 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
}

.ligue1-players {
    background: linear-gradient(to right, #ffff, #000); 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
}

.photo {
    border-radius: 50%;
    width: 100px;
    height: 50px;
}

.player-card {
    display: flex;
    flex-direction: row !important;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin: 0px;
}

.player-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.team-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.team-info h3 {
    font-size: 14px;
    margin: 0;
}

.team-info img {
    width: 25px;
    height: 25px;
}

