@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.players-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#logo-premier, #logo-laliga, #logo-bundesliga, #logo-seriea, #logo-ligue1 {
    align-self: center;
    height: 75px;
    width: 75px;
    margin-bottom: 20px;
}

.premier-players article, .laliga-players article, .bundesliga-players article, .serieA-players article, .ligue1-players article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
    text-align: left;
    color: black;
    height: 100%;
    width: 100%;
}
 
.premier-players img, .laliga-players img, .bundesliga-players img, .serieA-players img, .ligue1-players img {
    width: 50px;
    margin-right: 5px;
}

.premier-players h2, .laliga-players h2, .bundesliga-players h2, .serieA-players h2, .ligue1-players h2 {
    font-size: 16px;
    margin: 5px 0px;
    width: auto;
    text-align: left;
    color: black;
}

.premier-players, .laliga-players, .bundesliga-players, .serieA-players, .ligue1-players {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 10px;
    width: 20%;
    box-sizing: border-box;
    border-radius: 8px;
}

.photo {
    border-radius: 50%;
    width: 100px;
    height: 50px;
}

.player-card {
    display: flex;
    flex-direction: row !important;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin: 0px;
}

.player-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.name-star {
    display: flex; 
    align-items: center; 
    gap: 0px; 
    white-space: nowrap;
}

.team-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.team-info h3 {
    font-size: 14px;
    margin: 0;
}

.team-info img {
    width: 25px;
    height: 25px;
}

.star-icon {
    height: 35px;
    width: 35px;
    color: #000;
    font-size: 1.2em;
    line-height: normal;
    padding-top: 8px;
    margin-left: 5px;
}
