.user-data {
    display: flex;
    flex-direction: column;
    background: white;
    max-width: 400px;
    min-height: 71.4vh;
    margin: 50px auto;
    align-items: center;
}

.image-user {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 3px solid #00aaa9;
}

.profile-data {
    justify-content: space-evenly;
}

.h2-name {
    padding-top: 20px;
}

.h2-email {
    font-size: 20px;
}

span {
    font-weight: normal;
}

.logout-button {
    padding: 10px 20px;
    font-size: 1.1rem;
    min-width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #dc3545;
    color: #fff;
    margin-top: 20px;
}

.logout-button:hover {
    background-color: red;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 47px;
}

.modify {
    padding: 10px 20px;
    font-size: 1.1rem;
    min-width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #00aaa9;
    color: #fff;
    margin-top: 20px;
}

.modify:hover {
    background-color: #16A1C9;
}