@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.user-data {
    display: flex;
    flex-direction: column;
    min-height: 74.5vh;
    justify-content: flex-start;
    margin-top: 50px;
    align-items: center;
}

.image-user {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.h2-name {
    padding-top: 20px;
}

.span-email {
    font-size: 20px;
}

.logout-button {
    padding: 10px 20px;
    font-size: 1.1rem;
    min-width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #dc3545;
    color: #fff;
    margin-top: 20px;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.modify {
    padding: 10px 20px;
    font-size: 1.1rem;
    min-width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #00aaa9;
    color: #fff;
    margin-top: 20px;
}