@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.header-team {
    display: flex;
    flex-direction: column;
    min-height: 10vh;
    justify-content: center;
    align-items: center;
}

.header-team2 {
    display: flex;
    flex-direction: row;
}

.image-team {
    height: 100px;
    width: 100px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.reports-container h1 {
    text-align: center;
    margin-top: 20px;
}

.reports-container {
    width: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.report {
    width: auto;
    height: 95vh;
}

.star-icon {
    margin-left: 5px;
    margin-top: 5px;
}

.star-icon ion-icon {
    height: 20px;
    width: 20px;
    justify-content: center;
    align-items: center;
}

.info-team {
    display: grid;
    place-items: center;
    align-items: flex-start;
    margin-top: 20px;
}

.article-team {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
}

.team-data {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.image-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    max-height: 450px;
    max-width: 600px; 
    height: auto; 
    overflow: hidden; 
    border: 2px solid #00aaa9; 
    border-radius: 8px; 
}

.image-container img {
    display: block;
    width: auto; 
    height: auto; 
    object-fit: cover; 
}

span {
    font-weight: normal;
}