@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.teams-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    gap: 20px;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    gap: 150px;
    margin-top: 60px;
}

.logo-container img {
    width: 65px;
    height: 70px;
    margin-left: 160px;
}

.select-menu {
    width: 300px;
    margin: 40px auto;
    margin-left: 30px;
}

.select-menu .select-button {
    display: flex;
    height: 55px;
    background-color: #FFF;
    padding: 20px;
    font-size: 18px;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

.select-menu .options {
    position: relative;
    padding: 20px;
    border-radius: 8px;
    margin-top: 10px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    display: none; /* Por defecto estan ocultas */
}

.select-menu.active .options {
    display: block; /* Cuando le doy click, se visualizan */
}

.options .option {
    display: flex;
    height: 30px;
    cursor: pointer;
    align-items: center;
    padding: 0 16px;
    border-radius: 8px;
    background: #FFF;
}

.options .option:hover {
    background: #00c9c8;
    color: #FFF;
}

.premier-teams {
    background: linear-gradient(to right, #ffff, #7734E4); 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 10px;
    width: 20%;
    box-sizing: border-box;
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 20px;
}

.premier-teams article, .laliga-teams article, .bundesliga-teams article, .serieA-teams article, .ligue1-teams article {
    display: flex;
    align-items: center;
    margin: 10px 0;
    text-align: left;
    color: white;
    height: 100%;
    width: 100%;
}

.premier-teams img, .laliga-teams img, .bundesliga-teams img, .serieA-teams img, .ligue1-teams img {
    width: 50px;
    margin-right: 10px;
}

.premier-teams h2, .laliga-teams h2, .bundesliga-teams h2, .serieA-teams h2, .ligue1-teams h2 {
    font-size: 16px;
    margin: 0;
    flex: 1;
    text-align: left;
}

.laliga-teams {
    background: linear-gradient(to right, #fff, #e63946); 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 20px;
}

.bundesliga-teams {
    background: linear-gradient(to right, #ffff, #BD001C); 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 20px;
}

.serieA-teams {
    background: linear-gradient(to right, #ffff, #6051D5); 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 20px;
}

.ligue1-teams {
    background: linear-gradient(to right, #ffff, #000); 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 20px;
}

