@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.teams-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    gap: 165px;
    margin-top: 60px;
}

.logo-container img {
    width: 65px;
    height: 70px;
    margin-left: 150px;
}

.premier-teams {
    background: linear-gradient(to right, #ffff, #360c3a); 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 10px;
    width: 20%;
    box-sizing: border-box;
    border-radius: 8px;
}

.premier-teams article, .laliga-teams article, .bundesliga-teams article, .serieA-teams article, .ligue1-teams article {
    display: flex;
    align-items: center;
    margin: 10px 0;
    text-align: left;
    color: white;
    height: 100%;
    width: 100%;
}

.premier-teams img, .laliga-teams img, .bundesliga-teams img, .serieA-teams img, .ligue1-teams img {
    width: 50px;
    margin-right: 5px;
}

.premier-teams h2, .laliga-teams h2, .bundesliga-teams h2, .serieA-teams h2, .ligue1-teams h2 {
    font-size: 16px;
    margin-left: 20px;
    flex: 1;
    text-align: left;
}

.laliga-teams {
    background: linear-gradient(to right, #fff, #e63946); 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
}

.bundesliga-teams {
    background: linear-gradient(to right, #ffff, #BD001C); 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
}

.serieA-teams {
    background: linear-gradient(to right, #ffff, #6051D5); 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
}

.ligue1-teams {
    background: linear-gradient(to right, #ffff, #000); 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
}

.photo {
    border-radius: 50%;
    width: 100px;
    height: 50px;
}

.star-icon {
    position: relative;
    height: 35px;
    width: 35px;
    color: #fff;
    font-size: 1.2em;
    line-height: 57px;
    margin-bottom: 25px;
}

