a { 
    text-decoration: none;
    color: black;
    font-size: 12px;
}

#h2-ligue1:hover {
    color: gray;
    text-decoration: underline;
}

#h2-seriea:hover {
    color: #6051D5;
    text-decoration: underline;
}
#h2-bundesliga:hover {
    color: #BD001C;
    text-decoration: underline;
}

#h2-liga:hover {
    color: #e63946;
    text-decoration: underline;
}

#h2-premier:hover {
    color: #c54ad0;
    text-decoration: underline;
}

.teams-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

li {
    list-style: none;
}

.premier-teams, .laliga-teams, .bundesliga-teams, .serieA-teams, .ligue1-teams {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 10px;
    width: 20%;
    box-sizing: border-box;
    border-radius: 8px;
    margin-top: 50px;
}

#logo-premier, #logo-laliga, #logo-bundesliga, #logo-seriea, #logo-ligue1 {
    align-self: center;
    height: 75px;
    width: 75px;
    margin-bottom: 20px;
}

.premier-teams article, .laliga-teams article, .bundesliga-teams article, .serieA-teams article, .ligue1-teams article {
    display: flex;
    align-items: center;
    margin: 10px 0;
    text-align: left;
    height: 100%;
    width: auto;
}

.premier-teams img, .laliga-teams img, .bundesliga-teams img, .serieA-teams img, .ligue1-teams img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-right: 5px;
}

.premier-teams a, .laliga-teams a, .bundesliga-teams a, .serieA-teams a, .ligue1-teams a {
    margin-left: 20px;
    width: auto;
    display: inline-block;
    text-align: left;
}

.star-icon {
    position: relative;
    justify-content: flex-start;
    height: 35px;
    width: 35px;
    color: #000;
    font-size: 1.2em;
    line-height: 57px;
    margin-bottom: 20px;
    margin-left: 10px;
    padding-top: 2px;
}

