<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/champs.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar1">
            <div class="logo">
                <img src="assets/img/95.jpg" alt="Logo">
            </div>
            <div class="user-options">
                <a href="/favs" class="fancy">
                    <span class="top-key"></span>
                    <span class="text">FAVORITOS</span>
                    <span class="bottom-key-1"></span>
                    <span class="bottom-key-2"></span>
                </a>
                <a href="/login" class="profile">
                    <img src="assets/user.png" alt="Profile">
                </a>
            </div>
        </nav>
        <nav class="navbar2">
            <ul>
                <li><a href="/">En directo</a></li>
                <li><a href="/players">Jugadores</a></li>
                <li><a href="/teams">Equipos</a></li>
                <li><a href="/championships">Competiciones</a></li>
            </ul>
        </nav>
    </header>
    <div class="main-container">
        <div class="laliga-container">
            <a href="laliga">
                <img src="assets/img/laliga.png" alt="">
            </a>
            <h1>La Liga</h1>
        </div>
        <div class="premier-container">
            <a href="/premier">
                <img src="assets/img/premier.png" alt="">
            </a>
            <h1>Premier League</h1>
        </div>
        <div class="seriea-container">
            <a href="/seriea">
                <img src="assets/img/seriea.png" alt="">
            </a>
            <h1>Serie A</h1>
        </div>
        <div class="bundesliga-container">
            <a href="/bundesliga">
                <img src="assets/img/bundesliga.png" alt="">
            </a>
            <h1>Bundesliga</h1>
        </div>
        <div class="ligue1-container">
            <a href="/ligue1">
                <img src="assets/img/ligue1.png" alt="">
            </a>
            <h1>Ligue 1</h1>
        </div>
        <div class="champions-container">
            <a href="/champions">
                <img src="assets/img/champions.png" alt="">
            </a>
            <h1>Champions League</h1>
        </div>
    </div>    
</body>
</html>