<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/favs.css">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar1">
            <img class="logo" src="assets/img/logo-powerscore2.png" alt="Logo">
            <div class="user-options">
                <a href="/favs" class="fav-button">
                    <span class="top"></span>
                    <span class="text">FAVORITOS</span>
                    <span class="bottom1"></span>
                    <span class="bottom2"></span>
                </a>
                <div sec:authorize="!isAuthenticated()">
                    <a href="/login" class="profile">
                        <img src="assets/img/user.png" alt="Profile">
                    </a>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <a href="/profile" class="profile">
                        <img th:src="${user.image}" alt="Profile">
                    </a>
                </div>
            </div>
        </nav>
        <nav class="navbar2">
            <ul>
                <li><a href="/">En directo</a></li>
                <li><a href="/players">Jugadores</a></li>
                <li><a href="/teams">Equipos</a></li>
                <li><a href="/championships">Competiciones</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="favs-data">
            <div class="favourite-teams">
                <h2>Equipos Favoritos</h2>
                <ul>
                    <li th:each="team : ${favouriteTeams}" th:attr="data-team-id=${team.apiId}">
                        <article class="article-team">
                            <img class="team-image" th:src="${team.image}" th:alt="${team.name}">
                            <a th:href="@{/showTeam(id=${team.apiId})}">
                                <span class="team-name" th:text="${team.name}"></span>
                            </a>
                            <span class="trash-icon" onclick="removeTeamFromFavorites(this)">
                                <ion-icon name="trash-outline"></ion-icon>
                            </span>
                        </article>
                    </li>
                </ul>
            </div>
            <div class="favourite-players">
                <h2>Jugadores favoritos</h2>
                <ul>
                    <li th:each="player : ${favouritePlayers}" th:attr="data-player-id=${player.id}">
                        <article class="article-player">
                            <img class="player-image" th:src="${player.image}" th:alt="${player.image}">
                            <a th:href="@{/showPlayer(id=${player.id})}">
                                <span class="player-name" th:text="${player.name}"></span>
                            </a>
                            <span class="trash-icon" onclick="removePlayerFromFavorites(this)">
                                <ion-icon name="trash-outline"></ion-icon>
                            </span>
                        </article>
                    </li>
                </ul>
            </div>
            <div class="favourite-championships">
                <h2>Competiciones favoritas</h2>
                <ul>
                    <li th:each="championship : ${favouriteChampionships}" th:attr="data-championship-id=${championship.id}">
                        <article class="article-championship">
                            <img class="championship-image" th:src="${championship.image}" th:alt="${championship.name}">
                            <a th:href="@{/showChampionship/{id}(id=${championship.id})}">
                                <span class="championship-name" th:text="${championship.name}"></span>
                            </a>
                            <span class="trash-icon" onclick="removeChampionshipFromFavorites(this)">
                                <ion-icon name="trash-outline"></ion-icon>
                            </span>
                        </article>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <footer>
        <p>David Navarro Romero</p>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="js/removeFavourites.js"></script>
</body>
</html>