<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/teamplayerNotAvailable.css">
    <title>Jugador no disponible</title>
</head>
<body>
    <div class="error-container">
        <h1>Jugador no disponible</h1>
        <p>El jugador que estás buscando no se encuentra registrado en nuestra base de datos.</p>
    </div>
</body>
</html>