<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/individualTeam.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar1">
            <div class="logo">
                <img src="assets/img/95.jpg" alt="Logo">
            </div>
            <div class="user-options">
                <a href="/favs" class="fav-button">
                    <span class="top"></span>
                    <span class="text">FAVORITOS</span>
                    <span class="bottom1"></span>
                    <span class="bottom2"></span>
                </a>
                <div sec:authorize="!isAuthenticated()">
                    <a href="/login" class="profile">
                        <img src="assets/user.png" alt="Profile">
                    </a>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <a href="/profile" class="profile">
                        <img th:src="${user.image}" alt="Profile">
                    </a>
                </div>
            </div>
        </nav>
        <nav class="navbar2">
            <ul>
                <li><a href="/">En directo</a></li>
                <li><a href="/players">Jugadores</a></li>
                <li><a href="/teams">Equipos</a></li>
                <li><a href="/championships">Competiciones</a></li>
            </ul>
        </nav>
    </header>
    <div class="header-team">
        <img class="image-team" th:src="${team.image}" alt="imagen">
        <h1 th:text="${team.name}"></h1>
    </div>
    <div class="reports-container">
        <div th:each="reportUrl, stat : ${listareports}" class="report">
            <iframe width="100%" height="100%" th:src="${reportUrl}" frameborder="0" allowFullScreen="true"></iframe>
        </div>
    </div>
    
</body>
</html>
