<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link th:href="@{/css/teams.css}" rel="stylesheet">
    <link th:href="@{/css/dropdownmenuSeasons.css}" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet">
    <title>Listado de equipos</title>
</head>
<body>
    <header>
        <nav class="navbar1">
            <img class="logo" src="assets/img/logo-powerscore2.png" alt="Logo">
            <div class="user-options">
                <a href="/favs" class="fav-button">
                    <span class="top"></span>
                    <span class="text">FAVORITOS</span>
                    <span class="bottom1"></span>
                    <span class="bottom2"></span>
                </a>
                <div sec:authorize="!isAuthenticated()">
                    <a href="/login" class="profile">
                        <img src="assets/img/user.png" alt="Profile">
                    </a>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <a href="/profile" class="profile">
                        <img th:src="${user.image}" alt="Profile">
                    </a>
                </div>
            </div>
        </nav>
        <nav class="navbar2">
            <ul>
                <li><a href="/">En directo</a></li>
                <li><a href="/players">Jugadores</a></li>
                <li><a href="/teams">Equipos</a></li>
                <li><a href="/championships">Competiciones</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="search-container">
            <input
                type="text" 
                id="search-bar" 
                placeholder="Buscar equipo..." 
                autocomplete="off"
            />
            <div id="search-results"></div>
        </div>
        <div class="teams-container">
            <div class="premier-teams">
                <img id="logo-premier" src="assets/img/championships/premier.png" alt="">
                <ul>
                    <li th:each="team : ${premierTeams}">
                        <article>
                            <img th:src="${team.image}" th:alt="${team.name}">
                            <a th:href="@{/showTeam(id=${team.apiId})}">
                                <h2 id="h2-premier" th:text="${team.name}"></h2>
                            </a>
                            <span class="star-icon" sec:authorize="isAuthenticated()">
                                <ion-icon name="star-outline" th:attr="data-id=${team.apiId}"></ion-icon>
                            </span>
                        </article>
                    </li>
                </ul>
            </div>
            <div class="laliga-teams">
                <img id="logo-laliga" src="assets/img/championships/laliga.png" alt="">
                <ul>
                    <li th:each="team : ${laligaTeams}">
                        <article>
                            <img th:src="${team.image}" th:alt="${team.name}">
                            <a th:href="@{/showTeam(id=${team.apiId})}">
                                <h2 id="h2-liga" th:text="${team.name}"></h2>
                            </a>
                            <span class="star-icon" sec:authorize="isAuthenticated()">
                                <ion-icon name="star-outline" th:attr="data-id=${team.apiId}"></ion-icon>
                            </span>
                        </article>
                    </li>
                </ul>
            </div>
            <div class="bundesliga-teams">
                <img id="logo-bundesliga" src="assets/img/championships/bundesliga.png" alt="">
                <ul>
                    <li th:each="team : ${bundesligaTeams}">
                        <article>
                            <img th:src="${team.image}" th:alt="${team.name}">
                            <a th:href="@{/showTeam(id=${team.apiId})}">
                                <h2 id="h2-bundesliga" th:text="${team.name}"></h2>
                            </a>
                            <span class="star-icon" sec:authorize="isAuthenticated()">
                                <ion-icon name="star-outline" th:attr="data-id=${team.apiId}"></ion-icon>
                            </span>
                        </article>
                    </li>
                </ul>
            </div>
            <div class="serieA-teams">
                <img id="logo-seriea" src="assets/img/championships/seriea.png" alt="">
                <ul>
                    <li th:each="team : ${serieATeams}">
                        <article>
                            <img th:src="${team.image}" th:alt="${team.name}">
                            <a th:href="@{/showTeam(id=${team.apiId})}">
                                <h2 id="h2-seriea" th:text="${team.name}"></h2>
                            </a>
                            <span class="star-icon" sec:authorize="isAuthenticated()">
                                <ion-icon name="star-outline" th:attr="data-id=${team.apiId}"></ion-icon>
                            </span>
                        </article>
                    </li>
                </ul>
            </div>
            <div class="ligue1-teams">
                <img id="logo-ligue1" src="assets/img/championships/ligue1.png" alt="">
                <ul>
                    <li th:each="team : ${ligue1Teams}">
                        <article>
                            <img class="image-team" th:src="${team.image}" th:alt="${team.name}">
                            <a th:href="@{/showTeam(id=${team.apiId})}">
                                <h2 id="h2-ligue1" th:text="${team.name}"></h2>
                            </a>
                            <span class="star-icon" sec:authorize="isAuthenticated()">
                                <ion-icon name="star-outline" th:attr="data-id=${team.apiId}"></ion-icon>
                            </span>
                        </article>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <footer>
        <p>David Navarro Romero</p>
        <form th:action="@{/addFavouriteTeam}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </form>
    </footer>
    <script src="js/teamFavourite.js"></script>
    <script src="js/searchTeam.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script th:inline="javascript">
        var isLog = /*[[${isLog}]]*/ false;
    </script>
</body>
</html>